<h1>New train</h1>

<%= render "form", train: @train %>

<br>

<div>
  <%= link_to "Back to trains", trains_path %>
</div>
<% if admin_user %>
<br><%= link_to "Admin Home", admins_url %><br>
<% elsif current_user %>
<br><%= link_to "User Home", passengers_url %><br>
<%end%>