<div id="<%= dom_id ticket %>">
  <p>
    <strong>Passenger_ID:</strong>
    <%= ticket.passengerid %>
  </p>

  <p>
    <strong>Train_ID:</strong>
    <%= ticket.trainid %>
  </p>

  <p>
    <strong>Confirmation_Number:</strong>
    <%= ticket.confirmationnumber %>
  </p>

</div>

