<h1>New passenger</h1>

<%= render "form", passenger: @passenger %>

<br>

<div>
<% if admin_user %>
<br><%= link_to "Admin Home", admins_url %><br>
<% elsif current_user %>
<br><%= link_to "User Home", passengers_url %><br>
<% end %>
</div>
